<a href="https://colab.research.google.com/github/heejvely/second-projecct/blob/main/whole_df%EC%83%9D%EC%84%B1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
%more /content/drive/MyDrive/2차 의도분류/origin_dataframe/refine_csv.py

In [ ]:
%load /content/drive/MyDrive/2차 의도분류/origin_dataframe/refine_csv.py

In [ ]:
a

In [ ]:
import os
with open('/content/drive/MyDrive/2차 의도분류/origin_dataframe/refine_csv.py') as f:
  line = f.read()

print(line)

import os, re
import pandas as pd
from pathlib import Path

## set variables
# paths
original_dir = os.getcwd()
refined_dir  = os.path.join(original_dir, 'refined')

# make ${refined_dir} regardless of its existence
Path(refined_dir).mkdir(exist_ok=True)

# files
csv_file     = os.path.join(original_dir, 'google_경복궁.csv')
refined_csv  = os.path.join(refined_dir, 'refined_comments.csv')
refined_data = os.path.join(refined_dir, 'data.txt')
short_data   = os.path.join(refined_dir, 'short.txt')
long_data    = os.path.join(refined_dir, 'long.txt')

# set regex patterns
hash_tag     = re.compile('#\S+')
unnecessary  = re.compile('[^\w\s.?!,]')
multi_spaces = re.compile('\s{2,}')

score_dict = {
                0.0: '나쁨',
                0.5: '나쁨',
                1.0: '나쁨',
                1.5: '나쁨',
                2.0: '나쁨',
                2.5: '보통',
                3.0: '보통',
                3.5: '보통',
                4.0: '좋음',
                4.5: '좋음',
                5.0: '좋음'
}

min_len = 10
max_len = 250

def main():
    '''
    The main function.
    Reads csv_file into pandas.DataFrame and refines it.
    After refining, it saves the refined DataFrame into new csv file and data file.
    '''
    # read csv file
    df = pd.read_csv(csv_file)
    df = df[df.columns[1:]] # drop first column since it's unnecessary.

    # refine comment column and score column
    df['comment'] = df['comment'].apply(refine_comment)
    df['score'] = df['score'].apply(lambda x: score_dict[x])

    # save refined DataFrame into csv file
    df.to_csv(refined_csv, index=False)

    # convert df into data for BERT fine-tuning
    df_to_data(df[['score', 'comment']])

    return

def refine_comment(comment):
    '''
    A function that refines a comment via regex patterns

    refining procedure:
    1. get rid of unnecessary characters()
    2. get rid of hash_tags
    3. convert multi spaces into a single space
    4. strip off spaces in the front and back
    '''
    refined_comment = hash_tag.sub(' ', comment)
    refined_comment = unnecessary.sub(' ', refined_comment)
    refined_comment = multi_spaces.sub(' ', refined_comment)

    return refined_comment.strip()

def df_to_data(df):
    '''
    A function that converts df into BERT intention classifying data

    procedure
    1. drop duplicates
    2. save only comments that are in appropriate range (min_len~max_len char long)
    3. discard comments that do not contain hangul([가-힣])
    '''
    df.drop_duplicates(inplace=True) # drop duplicated values

    # abandon comment if it does not contain hangul.
    hangul_mask = df['comment'].str.match('[가-힣]')
    df = df.loc[hangul_mask]

    # the length for the comment should be min_len ~ max_len char long.
    length_mask = (df['comment'].str.len() >= min_len ) & (df['comment'].str.len() <= max_len)
    short_mask  = df['comment'].str.len() < min_len
    long_mask   = df['comment'].str.len() > max_len

    df_refined = df.loc[length_mask]
    shorts = df.loc[short_mask]
    longs  = df.loc[long_mask]

    # save df into tsv(tab separated values)
    df_refined.to_csv(refined_data, sep='\t', header=False, index=False)
    shorts.to_csv(short_data, sep='\t', header=False, index=False)
    longs.to_csv(long_data, sep='\t', header=False, index=False)

    return

if __name__ == '__main__':
    main()

In [ ]:
import os

google_dir = '/content/drive/MyDrive/2차 의도분류/origin_dataframe/google'
google_file_list = os.listdir(google_dir)
naver_dir = '/content/drive/MyDrive/2차 의도분류/origin_dataframe/naver'
naver_file_list = os.listdir(naver_dir)
tripadvisor_dir = '/content/drive/MyDrive/2차 의도분류/origin_dataframe/tripadvisor'
tripadvisor_file_list = os.listdir(tripadvisor_dir)

In [ ]:
google_file_list

['google_N서울타워.csv',
 'google_롯데월드.csv',
 'google_경복궁(1180).csv',
 'google_동대문디자인플라자.csv',
 'google_광화문광장.csv',
 'google_서울랜드.csv',
 'google_덕수궁.csv',
 'google_낙산공원.csv',
 'google_한가람미술관.csv',
 'google_여의도공원.csv',
 'google_가든파이브.csv',
 'google_동대문.csv',
 'google_63아쿠아플라넷.csv',
 'google_창경궁.csv',
 'google_동묘벼룩시장.csv',
 'google_세종문화회관.csv',
 'google_마로니에공원.csv',
 'google_국립고궁박물관.csv',
 'google_디뮤지엄.csv',
 'google_석촌호수공원.csv',
 'google_이화동벽화마을.csv',
 'google_대림미술관.csv',
 'google_북서울꿈의숲.csv',
 'google_독립문_영천시장.csv',
 'google_삼성딜라이트.csv',
 'google_서울풍물시장.csv',
 'google_망원한강공원.csv',
 'google_광장시장.csv',
 'google_가락시장.csv',
 'google_국립중앙박물관.csv',
 'google_남대문시장.csv',
 'google_남산골한옥마을.csv',
 'google_노량진수산시장.csv',
 'google_남산케이블카.csv',
 'google_롯데월드아쿠아리움.csv',
 'google_롯데월드타워.csv',
 'google_명동성당.csv',
 'google_반포한강공원.csv',
 'google_보라매공원.csv',
 'google_북악팔각정.csv',
 'google_북촌한옥마을.csv',
 'google_서울로7017.csv',
 'google_서울대공원.csv',
 'google_서대문형무소역사관.csv',
 'google_서울숲공원.csv',
 'google_서울식물원.csv',
 'google_예술의전당.csv',
 'google_어린이대공원.csv',
 'google_스타필드코엑스몰.csv',
 'google_여의도한강공원.csv',
 'google_조계사.csv',
 'google_익선동한옥거리.csv',
 'google_창덕궁.csv',
 'google_하늘공원.csv',
 'google_트릭아이뮤지엄.csv',
 'google_청계천.csv',
 'google_한국전쟁기념관.csv',
 'google_통인시장.csv',
 'google_잠실한강공원.csv',
 'google_서울역사박물관.csv',
 'google_홍대쇼핑거리.csv',
 'google_봉은사.csv']

In [ ]:
import pandas as pd

whole_df = pd.DataFrame(columns = ['comment', 'score', 'date'])
for i in google_file_list:
  df = pd.read_csv(f'{google_dir}/{i}')
  whole_df = pd.concat([whole_df,df], ignore_index=True)

In [ ]:
whole_df

                                                 comment  score  date
0      서울 살면서 남산타워에 처음 올라가봤어요..어렸을때 몇번갔다는데..기억에는 없어서^...    5.0  3주 전
1      코로나로 인해 사람이 인적이 적어졌지만 비오늘날  서울 시티트어를 하기엔 너무 좋은...    5.0  2주 전
2      서울의 전경을 볼 수 있어 너무 좋아요. 서두르세요. 다음엔 남산타워 전망대 티켓까...    5.0  3주 전
3      분위기 전환, 데이트하러 방문하기 좋은 거 같아요. 비오는 날이라 아쉽지만 그래도 ...    5.0  1주 전
4      서울에 사는 사람들에게는 너무 자주 볼 수 있어서 막상 살면서 몇번 안 올라가게 되...    4.0  3주 전
...                                                  ...    ...   ...
65246  (Google 번역 제공) 행복 부처님 생일.(원문) …더보기(Google 번역 제...    5.0  2년 전
65247  (Google 번역 제공) 놀랍고 평화로운 곳.(원문) …더보기(Google 번역 ...    5.0  1년 전
65248  (Google 번역 제공) 밤에 절대적으로 화려하다. 건물은 물 위에 비추고 반사되...    4.0  2년 전
65249  (Google 번역 제공) 도시의 중심부에 위치한 매우 평화로운 사원.(원문) …더...    5.0  2년 전
65250  (Google 번역 제공) 앉고 더 나은 계획을 세우기에 좋은 곳입니다.(원문)很棒...    5.0  1년 전

[65251 rows x 3 columns]

In [ ]:
import pandas as pd

for i in naver_file_list:
  df = pd.read_csv(f'{naver_dir}/{i}')
  whole_df = pd.concat([whole_df,df], ignore_index=True)

In [ ]:
import pandas as pd

for i in tripadvisor_file_list:
  df = pd.read_csv(f'{tripadvisor_dir}/{i}')
  whole_df = pd.concat([whole_df,df], ignore_index=True)

In [ ]:
whole_df.drop(index=(whole_df[whole_df.comment.isna()].index),inplace=True)

In [ ]:
whole_df.isna().sum()

comment      0
score       47
date       550
dtype: int64

In [ ]:
whole_df.drop(index= whole_df[whole_df.comment.str.contains('Google 번역')].index, inplace=True)

In [ ]:
whole_df.to_csv('/content/drive/MyDrive/2차 의도분류/origin_dataframe/whole_df.csv',index=False)

In [ ]:
whole_df.reset_index().drop('index',axis=1).to_csv('/content/drive/MyDrive/2차 의도분류/origin_dataframe/whole_df.csv',index=False)

In [ ]:
whole_df = whole_df.reset_index().drop('index',axis=1)

In [ ]:
whole_df.iloc[68].comment

'바야흐로 19년 2월...롯데2타워를 방문하며 뉘엿지는 태양과 한강의 콜라보에 매료되어 …더보기바야흐로 19년 2월...롯데2타워를 방문하며 뉘엿지는 태양과 한강의 콜라보에 매료되어여차여차 행사하는 티켓이 있어서 이번엔 N서울타워 다녀왔어요.이번방문에는 미세먼지 맑음인데도 불구하고 롯데2타워도 잘안보이고인터넷 검색해서 딱 일몰타임(1903) 맞취서 갔는데 태양자체가 안보여 너무 아쉬웠어요.그래도 야경좋아해서 좀 시간 죽이다(?) 야경 즐기다왔죠 ㅎ'

In [ ]:
df.iloc[68].comment

'바야흐로 19년 2월...롯데2타워를 방문하며 뉘엿지는 태양과 한강의 콜라보에 매료되어여차여차 행사하는 티켓이 있어서 이번엔 N서울타워 다녀왔어요.이번방문에는 미세먼지 맑음인데도 불구하고 롯데2타워도 잘안보이고인터넷 검색해서 딱 일몰타임(1903) 맞취서 갔는데 태양자체가 안보여 너무 아쉬웠어요.그래도 야경좋아해서 좀 시간 죽이다(?) 야경 즐기다왔죠 ㅎ'

In [ ]:
whole_df[whole_df.comment.str.contains('…더보기')]

def del_seemore(x):
  if '…더보기' in x:
    return x.split('…더보기')[1]
  else:
    return x
df = whole_df.copy()
df['comment'] = whole_df.comment.apply(del_seemore)
df

                                                  comment  score           date
0       서울 살면서 남산타워에 처음 올라가봤어요..어렸을때 몇번갔다는데..기억에는 없어서^...    5.0           3주 전
1       코로나로 인해 사람이 인적이 적어졌지만 비오늘날  서울 시티트어를 하기엔 너무 좋은...    5.0           2주 전
2       서울의 전경을 볼 수 있어 너무 좋아요. 서두르세요. 다음엔 남산타워 전망대 티켓까...    5.0           3주 전
3       분위기 전환, 데이트하러 방문하기 좋은 거 같아요. 비오는 날이라 아쉽지만 그래도 ...    5.0           1주 전
4       서울에 사는 사람들에게는 너무 자주 볼 수 있어서 막상 살면서 몇번 안 올라가게 되...    4.0           3주 전
...                                                   ...    ...            ...
156963  바쁘 고 분주 하 ㄴ 시장 이 있 는, 잘 하 면. 모든 가게 가 있 는 것 같 다...    5.0  2014년 2월 • 친구
156964  저희 가 제일 좋아하 는 곳 이 ㅂ니다. 훌륭하 ㄴ 기념품, 음식 골목, 의류, 귀...    5.0  2014년 5월 • 커플
156965  우리가 이 곳을 몇 번을 미용 제품 및 기념품.최고의 장소에서 매우 싼 가격에 기념...    4.0  2014년 5월 • 가족
156966  선물 같은 큰 시장의 휴대폰 케이스, 로컬 입히 다, 지갑 및 변경다른 모든 유형의...    4.0  2014년 5월 • 개인
156967  우리는 12시간 경유 인천 가는 고속 열차를 타고 서울역 택시 운전사를 태우 "여기...    4.0  2013년 8월 • 커플

[154449 rows x 3 columns]

In [ ]:
df

                                                  comment  score           date
0       서울 살면서 남산타워에 처음 올라가봤어요..어렸을때 몇번갔다는데..기억에는 없어서^...    5.0           3주 전
1       코로나로 인해 사람이 인적이 적어졌지만 비오늘날  서울 시티트어를 하기엔 너무 좋은...    5.0           2주 전
2       서울의 전경을 볼 수 있어 너무 좋아요. 서두르세요. 다음엔 남산타워 전망대 티켓까...    5.0           3주 전
3       분위기 전환, 데이트하러 방문하기 좋은 거 같아요. 비오는 날이라 아쉽지만 그래도 ...    5.0           1주 전
4       서울에 사는 사람들에게는 너무 자주 볼 수 있어서 막상 살면서 몇번 안 올라가게 되...    4.0           3주 전
...                                                   ...    ...            ...
156963  바쁘 고 분주 하 ㄴ 시장 이 있 는, 잘 하 면. 모든 가게 가 있 는 것 같 다...    5.0  2014년 2월 • 친구
156964  저희 가 제일 좋아하 는 곳 이 ㅂ니다. 훌륭하 ㄴ 기념품, 음식 골목, 의류, 귀...    5.0  2014년 5월 • 커플
156965  우리가 이 곳을 몇 번을 미용 제품 및 기념품.최고의 장소에서 매우 싼 가격에 기념...    4.0  2014년 5월 • 가족
156966  선물 같은 큰 시장의 휴대폰 케이스, 로컬 입히 다, 지갑 및 변경다른 모든 유형의...    4.0  2014년 5월 • 개인
156967  우리는 12시간 경유 인천 가는 고속 열차를 타고 서울역 택시 운전사를 태우 "여기...    4.0  2013년 8월 • 커플

[154449 rows x 3 columns]

In [ ]:
whole_df.replace('…더보기','',regex=True,inplace=True)

In [ ]:
df.to_csv('/content/drive/MyDrive/2차 의도분류/origin_dataframe/whole_df.csv',index=False)

In [ ]:
import os, re
import pandas as pd
from pathlib import Path

## set variables
# paths
original_dir = '/content/drive/MyDrive/2차 의도분류/origin_dataframe'
refined_dir  = os.path.join(original_dir, 'refined')

# make ${refined_dir} regardless of its existence
Path(refined_dir).mkdir(exist_ok=True)

# files
csv_file     = os.path.join(original_dir, 'whole_df.csv')
refined_csv  = os.path.join(refined_dir, 'refined_comments.csv')
refined_data = os.path.join(refined_dir, 'data.txt')
short_data   = os.path.join(refined_dir, 'short.txt')
long_data    = os.path.join(refined_dir, 'long.txt')

# set regex patterns
hash_tag     = re.compile('#\S+')
unnecessary  = re.compile('[^\w\s.?!,]')
multi_spaces = re.compile('\s{2,}')

score_dict = {
                0.0: '나쁨',
                0.5: '나쁨',
                1.0: '나쁨',
                1.5: '나쁨',
                2.0: '나쁨',
                2.5: '보통',
                3.0: '보통',
                3.5: '보통',
                4.0: '좋음',
                4.5: '좋음',
                5.0: '좋음'
}

min_len = 10
max_len = 250

def main():
    '''
    The main function.
    Reads csv_file into pandas.DataFrame and refines it.
    After refining, it saves the refined DataFrame into new csv file and data file.
    '''
    # read csv file
    df = pd.read_csv(csv_file)
    df = df[df.columns[:]] # drop first column since it's unnecessary.

    # refine comment column and score column
    df['comment'] = df['comment'].apply(refine_comment)
    # df['score'] = df['score'].apply(lambda x: score_dict[x])

    # save refined DataFrame into csv file
    df.to_csv(refined_csv, index=False)

    # convert df into data for BERT fine-tuning
    df_to_data(df[['score', 'comment']])

    return

def refine_comment(comment):
    '''
    A function that refines a comment via regex patterns

    refining procedure:
    1. get rid of unnecessary characters()
    2. get rid of hash_tags
    3. convert multi spaces into a single space
    4. strip off spaces in the front and back
    '''
    refined_comment = hash_tag.sub(' ', comment)
    refined_comment = unnecessary.sub(' ', refined_comment)
    refined_comment = multi_spaces.sub(' ', refined_comment)

    return refined_comment.strip()

def df_to_data(df):
    '''
    A function that converts df into BERT intention classifying data

    procedure
    1. drop duplicates
    2. save only comments that are in appropriate range (min_len~max_len char long)
    3. discard comments that do not contain hangul([가-힣])
    '''
    df.drop_duplicates(inplace=True) # drop duplicated values

    # abandon comment if it does not contain hangul.
    hangul_mask = df['comment'].str.match('[가-힣]')
    df = df.loc[hangul_mask]

    # the length for the comment should be min_len ~ max_len char long.
    length_mask = (df['comment'].str.len() >= min_len ) & (df['comment'].str.len() <= max_len)
    short_mask  = df['comment'].str.len() < min_len
    long_mask   = df['comment'].str.len() > max_len

    df_refined = df.loc[length_mask]
    shorts = df.loc[short_mask]
    longs  = df.loc[long_mask]

    # save df into tsv(tab separated values)
    df_refined.to_csv(refined_data, sep='\t', header=True, index=False)
    shorts.to_csv(short_data, sep='\t', header=True, index=False)
    longs.to_csv(long_data, sep='\t', header=True, index=False)

    return

if __name__ == '__main__':
    main()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:89: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
pd.read_csv('/content/drive/MyDrive/2차 의도분류/origin_dataframe/refined/data.txt',sep='\t',header=0).to_excel('/content/drive/MyDrive/2차 의도분류/origin_dataframe/refined_data.xlsx',index=False,encoding='utf-8-sig')
# pd.read_csv('/content/drive/MyDrive/2차 의도분류/origin_dataframe/refined/long.txt')

In [ ]:
pd.read_csv('/content/drive/MyDrive/2차 의도분류/origin_dataframe/refined/data.txt',sep='\t',header=0).to_excel('/content/drive/MyDrive/2차 의도분류/origin_dataframe/refined_data.xlsx',index=False)

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/2차 의도분류/origin_dataframe/refined_data.csv')
df

        score                                            comment
0         5.0  코로나로 인해 사람이 인적이 적어졌지만 비오늘날 서울 시티트어를 하기엔 너무 좋은 ...
1         5.0  서울의 전경을 볼 수 있어 너무 좋아요. 서두르세요. 다음엔 남산타워 전망대 티켓까...
2         5.0  분위기 전환, 데이트하러 방문하기 좋은 거 같아요. 비오는 날이라 아쉽지만 그래도 ...
3         4.0  필수코스. 나 자신은 서울사람으로 여러번 다녀왔지만 아기와 남편을 위해 가 봄. 서...
4         5.0                   강아지와 함께 케이블카를 탈 수 있어서 너무 좋았습니다!!
...       ...                                                ...
122004    5.0  바쁘 고 분주 하 ㄴ 시장 이 있 는, 잘 하 면. 모든 가게 가 있 는 것 같 다...
122005    5.0  저희 가 제일 좋아하 는 곳 이 ㅂ니다. 훌륭하 ㄴ 기념품, 음식 골목, 의류, 귀...
122006    4.0  우리가 이 곳을 몇 번을 미용 제품 및 기념품.최고의 장소에서 매우 싼 가격에 기념...
122007    4.0  선물 같은 큰 시장의 휴대폰 케이스, 로컬 입히 다, 지갑 및 변경다른 모든 유형의...
122008    4.0  우리는 12시간 경유 인천 가는 고속 열차를 타고 서울역 택시 운전사를 태우 여기서...

[122009 rows x 2 columns]

In [ ]:
df[:43000].to_csv(refined_data, sep='\t', header=True, index=False)

       score                                            comment
0        5.0  코로나로 인해 사람이 인적이 적어졌지만 비오늘날 서울 시티트어를 하기엔 너무 좋은 ...
1        5.0  서울의 전경을 볼 수 있어 너무 좋아요. 서두르세요. 다음엔 남산타워 전망대 티켓까...
2        5.0  분위기 전환, 데이트하러 방문하기 좋은 거 같아요. 비오는 날이라 아쉽지만 그래도 ...
3        4.0  필수코스. 나 자신은 서울사람으로 여러번 다녀왔지만 아기와 남편을 위해 가 봄. 서...
4        5.0                   강아지와 함께 케이블카를 탈 수 있어서 너무 좋았습니다!!
...      ...                                                ...
42995    4.0                    아기자귀하니 이쁜 가게많고맛있는 먹거리많은 개성넘치는 곳
42996    5.0                               분위기굿..맛도굿,자몽빙수 추천해요.
42997    3.0  사람들이 너무 많고.. 음식을 먹는것도 대기줄 1시간 기본이에요ㅠㅠ 근데 인사동이랑...
42998    5.0                                사람들 많고 길거리 구경 잘 했어요
42999    4.0                             볼거리 다양하고맛집도 많고이쁜카페거리..

[43000 rows x 2 columns]

In [ ]:
df[df.score<2.5]

        score                                            comment
199       2.0            돈주고 올라갈만한 전망대는 아니였어요.....돈이 너무 아까워요...ㅎ
229       1.0                        가을을 품고 한얌서은 또 다른 계절을 기다립니다.
549       2.0                                   야경이 선명하게 보이진 않네요
602       2.0                           너무 비싸고 신발벗는곳이 있어서 발냄새가 남
616       2.0                               야외임에도 사람이 너무 많아서 답답함
...       ...                                                ...
121906    2.0  토요일 밤에 특별한 여행을 만들어 주는 말이 그냥 폐쇄.하지만, 24시간 상점들은 ...
121927    1.0  나는 가끔 하기 위해 길을 건너 사무실 건물입니다.아무것도 할 수 있는 많은 것을 ...
121940    1.0  늦은 밤에 갔는데, 실망을 하는 외국인을 위한 가격이 완전히 설정할 수 있습니다. ...
121955    2.0  시간을 낭비하지 마세요. 제가 들어간 붕대 의 남대문과 남대문 시장을 회현역에서 지...
121990    1.0  저는 오늘 로 빼어나 고 시간 낭비. 낮은 등급이 되고 있어 상품입니다. 또한 방 ...

[4756 rows x 2 columns]

In [ ]:
df[(df.score>=2.5)&(df.score<4)]

        score                                            comment
32        3.0                            이번에 롯데 온 행사로 저렴하게 이용했네요
54        3.0  바야흐로 19년 2월...롯데2타워를 방문하며 뉘엿지는 태양과 한강의 콜라보에 매료...
63        3.0  산책하기 좋아요. 타워 아래 전망대에서 아이스크림츄러스 7천 . 크라우드 생맥 5천...
64        3.0  남산 케이블 2인 26000원남산타워 2인 36000원 KT.LG 핸드폰 멤버쉽 본...
86        3.0                                     돈만 많이 쓰고옴.. 추움
...       ...                                                ...
121975    3.0  필리핀에서 오는. 비교할 수 이는 디비조리아로 또는 baclaran. 브랜드 항목 ...
121984    3.0  저는 아내와 함께 그녀는 모든 사랑은 것 살 수 있었다. 한 여성이 ㄴ가, 그렇게 ...
121985    3.0  특별히 이러한 시장을, 많이 판매 포장 마차 같은 물건. 없음 은 어느 한 분위기....
121991    3.0  길거리 시장이 좋은건. 하지만 만약 대한 품질 또는 브랜드 특가, 너무 귀찮게, 이...
122000    3.0  인사동에 갔는데 남대문시장과 명동에 시장 였는데 그렇게 시장 과하중 . 시장 정보도...

[12869 rows x 2 columns]